*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webtext-text-size-adjust: 100%;
  font-family: Georgia, serif;
  color: #fff;
}

.grid {
  background: #495562;
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
}

.btn-ghost {
  color: #fff;
}

.unit {
  max-height: 500px;
}

.wrapper{
  max-width: 500px;
    margin: 0 auto;

}

@media only screen and (min-width: 60em) {

  .unit {
    position: absolute;
    bottom: 0;
  }

  .btn-ghost {

  }
}
