*, *::before, *::after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -webtext-text-size-adjust:100%
  font-family:'Georgia';
  color: #fff;
}

.earth{
  background: #495562;
  position: relative;
}

img{
  width: 100%;
  display: block;
}

@media only screen and (min-width: 60em){
.text{position: absolute;
  bottom: 0;
}
}
